# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.venv/
venv/

# VSCode
.vscode/

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Output
outputs/

#data
logs/app.log

#memory
*.db*